			*{
				padding:0;
				margin:0;
				box-sizing: border-box;
			}

			h1{
				font-size:50px;
				text-align: center;
				color:#d45d5c;
			}
			li{
				list-style: none;
			}
			footer{
				height: 40px !important;
				font-size: 15px;
			
			}			
			input{
				float:left;
				width:330px;
				height:100%;;
				outline: none;
				border-style: none;
				font: 20px "微软雅黑";
				color:grey;
			}
			footer ul,footer li{
				display: inline-block;
			}	
			
			footer li{
				margin:2px;
			}
			li a{
				padding:2px;
				text-decoration: none;
				color: grey;
			}
			i:hover{
				color:green;
			}
			.main{
				width:430px;
				margin:0 auto;
				//border:1px solid;
				
			}
			.inputline,.listarea li,footer{
				width:100%;
				height: 50px;
				padding:5px;
				border:2px solid grey;
				margin-bottom: 7px;
				box-shadow: 2px 2px 2px #888888;
				border-radius: 5px;
			}
			.icon-ok-circle{
				cursor: pointer;
				color:grey;
				width:40px;
				height:30px;
				margin: 0 2px 0 0;
				float:left;
			}
			.checked{
				color:green;	
			}
			.done{
				color:grey;
				text-decoration: line-through;
			}
			.close_svg{
				display: inline-block;
				background-image: url("https://raw.githubusercontent.com/JHanLu/todolist/master/img/close.svg");
				width:30px;
				height:30px;
				background-size: 30px 30px;
				cursor: pointer;
				
				transition:All 0.5s ease-in-out; 
				-webkit-transition:All 0.5s ease-in-out;    
				-moz-transition:All 0.5s ease-in-out;    
				-o-transition:All 0.5s ease-in-out; 
			}
			.close_svg:hover{
				transform:rotate(180deg); 
				-webkit-transform:rotate(180deg);    
				-moz-transform:rotate(180deg);   
				-o-transform:rotate(180deg);    
				-ms-transform:rotate(180deg);
			}
			.info{
				margin:0 5px 0 4px;
			}
			.active{
				border:2px solid grey;
				border-radius: 5px;
			}
			.clear{
				margin-left:10px;
				text-decoration: underline;
			}

